@model BookListViewModel

@section Css
{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css">
}
@section Scripts
{
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#myTable').DataTable();
        });
    </script>
}
<div class="row">
    <div class="col-md-12">
            <h1 class="h3">Admin Books</h1>
        <hr>
        
        <a class="btn btn-primary mb-2" href="/admin/books/create">Add Book </a> 
        <table  data-page-length='5' id="myTable"  class="table table-bordered mt-3">
            <thead class="bg-secondary">
                <tr>
                    <td style="width:30px;">Id</td>
                    <td style="width:100px;">Image</td>
                    <td style="width:30px;">Book Name</td>
                    <td style="width:30px;">Price</td>
                    <td style="width:30px;">Barcode Number</td>
                    <td style="width:30px;">Page Count</td>
                    <td style="width:30px;">FirstPrintDate</td>
                    <td style="width:30px;">Author</td>
                    <td style="width:30px;">Publisher</td>
                    <td style="width:30px;">IsHome</td>
                    <td style="width:30px;">IsApproved</td>
                    <td style="width:190px;">Action</td>
                </tr>
            </thead>
            <tbody class="bg-light">
                @if(Model.Books.Count>0)
                {
                @foreach (var item in Model.Books)
                    {
                    <tr>
                        <td>@item.BookId</td>
                        <td><img src="~/img/@item.ImageUrl" width="70"></td>
                        <td>@item.Name</td>
                        <td>@item.Price</td>
                        <td>@item.BarcodeNumber</td>
                        <td>@item.PageCount</td>
                        <td>@item.FirstPrintDate</td>
                        <td>
                            @if (Model.Authors.FirstOrDefault(x => x.AuthorId == item.AuthorId) != null)
                            {
                                @Model.Authors.FirstOrDefault(x => x.AuthorId == item.AuthorId).NameLastName
                            }
                            (@item.AuthorId)
                            </td>
                        <td>
                            @if (Model.Publishers.FirstOrDefault(x => x.PublisherId == item.PublisherId) != null)
                            {
                                @Model.Publishers.FirstOrDefault(x => x.PublisherId == item.PublisherId).Name
                            }
                            (@item.PublisherId)
                        </td>
                        <td>
                            @if(item.IsHome){
                                <i class="fa-solid fa-circle-check"></i>
                            }
                            else{
                                <i class="fa-solid fa-circle-xmark"></i>
                            }
                        </td>
                        <td>
                            @if(item.IsApproved){
                                <i class="fa-solid fa-circle-check"></i>
                            }
                            else{
                                <i class="fa-solid fa-circle-xmark"></i>
                            }
                        </td>
                        <td>
                            <a href="/admin/books/@item.BookId" class="btn btn-primary btn-sm mr-2">Edit</a>
                            <form action="/admin/deletebook" method="POST" style="display: inline-block;">
                                <input type="hidden" name="bookId" value="@item.BookId">
                            <button type="submit" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr> 
                    }
                }
                else
                {
                    <div class="alert alert-warning">
                        <h3>No Books</h3>
                    </div>
                }
            </tbody>
        </table>
    </div>

</div>