@model BookDetailModel

<div class="row">
    <div class="col-md-3">
        <img src="~/img/@Model.Book.ImageUrl" class="img-fluid">
    </div>
    <div class="col-md-9">                
        <h1 class="mb-3">@Model.Book.Name</h5> <hr>
        @foreach (var item in Model.Categories)
        {
            <a asp-controller="shop" asp-action="list" asp-route-category="@item.Url" class="btn btn-link p-0 mb-3">@item.Name</a> 
        }
        <div class="row"> 
            <strong>&nbsp;&nbsp;&nbsp;Author</strong>:<a class="text-primary" href="/books/author/@Model.Book.AuthorId"> @Model.Authors.FirstOrDefault(x => x.AuthorId == Model.Book.AuthorId).NameLastName</a> &nbsp; &nbsp; &nbsp; &nbsp;
            <strong>Publisher</strong>:<a class="text-primary" href="/books/publisher/@Model.Book.PublisherId"> @Model.Publishers.FirstOrDefault(x => x.PublisherId == Model.Book.PublisherId).Name</a>                    
        </div>   
        <hr>
        <div class="mb-3">
            <h3 class="text-primary mb-3">
                @Model.Book.Price TL
            </h3>
            <form asp-controller="Cart" asp-action="AddToCart" method="POST" class="form-inline">
                <input type="hidden" name="bookId" value="@Model.Book.BookId">
                <div class="input-group mb-3">
                    <input type="number" name="quantity" class="form-control" value="1" min="1" step="1" style="width: 100px;">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-cart-plus"></i>Add to Cart                                
                        </button>
                    </div>
                </div>     
            </form>
        </h6>
    </div>
</div>
<div class="row">
    <div class="col-md-10 p-5">
        <h5>@Model.Book.Name Book Description</h5>
        <p class="p-3">@Html.Raw(Model.Book.Description)</p>
    </div>
</div>
<div class="container">
    <ul class="list p-4">
    <h5 >@Model.Book.Name Book Details</h5>
    <br>
    <li class="list-item d-flex justify-content-between align-items-center">
        <h5> Book Name : </h5> 
        <span class="">@Model.Book.Name</span>
    </li>
    <hr>
    <li class="list-item d-flex justify-content-between align-items-center">
        <h5>Barcode Number :</h5>
        <span class="">@Model.Book.BarcodeNumber</span>
    </li>
    <hr>
    <li class="list-item d-flex justify-content-between align-items-center">
        <h5>Page Count :</h5> 
        <span class="">@Model.Book.PageCount</span>
    </li>
    <hr>
    <li class="list-item d-flex justify-content-between align-items-center">
        <h5>First Print Date :</h5> 
        <span class="">@Model.Book.FirstPrintDate</span>
    </li>
    <hr>
    </ul>
</div>

